@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   color: red;
}

/* Warmgray 700 colour on current page in navigation */
a.active {
   opacity: 0.33;
}

a.active:hover,
a.active:focus {
   color: initial;
}

.mobile-nav {
   transition: transform 300ms ease-in-out;
}

.mobile-nav-open {
   transform: translateX(0);
}

.mobile-nav-closed {
   transform: translateX(100%);
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.fade-in {
   animation: fadeIn 200ms ease-out;
}
